.row {
    width: 100%;
}

.row .item-row {
    width: 100%;
    display: flex;
}

.row h1 {
    margin: 0;
    padding: 5px;
    margin-top: 5px;
    background-color: aqua;
    text-indent: 20px;
}

.row .item-row .item {
    width: 15%;
    margin: 2%;
    height: 38vh;
    background-color: rgb(233, 233, 233);
    margin-left: 2.5%;
    display: block;
    text-decoration: none;
    color: #000;
}

.row .item-row .item img {
    width: 70%;
    height: 50%!important;
    margin-left: auto;
    margin-right: auto;
}

.row .item-row .item h2,
.row .item-row .item h4,
.row .item-row .item p {
    margin: 0;
    padding: 0;
}

.row .item-row .item h2,
.row .item-row .item h4 {
    text-align: center;
}

.row .item-row .item p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 6px;
    margin-top: 3px;
    text-indent: 2px;
}


/* detail book */

.row .book-detail {
    width: 100%;
    height: auto;
}

.row .book-detail .main {
    display: flex;
    height: 40vh;
    padding: 50px;
    padding-bottom: 20px;
}

.row .book-detail .main .img-book {
    width: 20%;
    height: 90%;
}

.row .book-detail .main .img-book img {
    height: 100%;
    width: auto;
}

.row .book-detail .container-btn {
    width: auto;
    padding-left: 80px;
    padding-bottom: 20px;
}

.row .book-detail .container-btn a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background-color: rgb(255, 152, 152);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    width: auto;
    line-height: 30px;
    border-radius: 5px/5px;
    -webkit-border-radius: 5px/5px;
    -moz-border-radius: 5px/5px;
    -ms-border-radius: 5px/5px;
    -o-border-radius: 5px/5px;
}


/* rate */

.rate-container {
    padding: 50px;
    display: flex;
}

.rate-container .my-rate {
    width: 30%;
    height: auto;
}

.rate-container .all-rate {
    width: 60%;
    height: 50vh;
    overflow-X: auto;
}

.rate-container .my-rate form .btnRate {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
    color: #FFF;
    background-color: rgb(43, 167, 95);
    border-radius: 10px/10px;
    -webkit-border-radius: 10px/10px;
    -moz-border-radius: 10px/10px;
    -ms-border-radius: 10px/10px;
    -o-border-radius: 10px/10px;
}


/* row rate  */

.rate-container .all-rate .row-rate {
    padding: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 80%;
    height: auto;
    display: flex;
    background-color: rgb(236, 236, 236);
    color: #000;
    border-radius: 10px/10px;
    -webkit-border-radius: 10px/10px;
    -moz-border-radius: 10px/10px;
    -ms-border-radius: 10px/10px;
    -o-border-radius: 10px/10px;
}

.rate-container .all-rate .row-rate .img img {
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%/50%;
    -webkit-border-radius: 50%/50%;
    -moz-border-radius: 50%/50%;
    -ms-border-radius: 50%/50%;
    -o-border-radius: 50%/50%;
}

.rate-container .all-rate .row-rate .main-rate {
    width: 80%;
}

.rate-container .all-rate .row-rate .main-rate>h2 {
    margin-bottom: 3px;
    margin-top: 10px;
}

.rate-container .all-rate .row-rate .main-rate center .tool {
    width: 80%;
    display: flex;
}

.rate-container .all-rate .row-rate .main-rate center .tool label {
    width: 30%;
    margin-left: 5px;
}


/* 
input {
    -webkit-appearance: none;
    visibility: none;
    display: none;
} */

input::cheked>span {
    color: rgb(14, 135, 235);
}

.tool label a {
    text-decoration: none;
    color: #000;
    font-family: mainLight;
}

.tool label a:hover {
    color: rgb(0, 92, 212);
    position: absolute;
}